
navlateral {
display: inline-table;
background-color: white;
}

 .menu {
      display: block;
      list-style-type: none;
      text-align: left;
      margin: 0 0 5px 5px;
      padding: 10px 30px 5px 8px;
      text-decoration: none;
      border-color: #f3802c;
      border-left-style: solid;
      border-left-width: 0.9em;
      border-bottom-style: solid;
      border-bottom-color: #f3802c;
      border-bottom-width: 0.3em;
      color: #B45F04;
      font-family: 'Oswald';
      border-top-left-radius: 10px;
  }

  .menu:hover {
  background-color: #cecdcc;

  }

  .contenido {
    list-style: none;
    padding: 0 0 0 2em;

  }
   .contenido li {
     border-left-style: ridge;
     border-left-color: orange;
     padding: 0 5px;


   }
    .contenido li a {
    text-decoration: none;
    font-family: "Pathway Gothic One";
    font-size: 1.2em;
    color: orange;

  }
    .contenido li:hover {
    background-color: #cecdcc;


  }
