body {
  background: orange;
  margin: 0;
  display: inline-block;
}
/*******
 Encabezado de pagina #FE9A2E #F5D0A9
 *******/

header{
background: white;
margin: 0;

}


h1 {
  position: relative;
  font-family :'Gloria Hallelujah','Lato';
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 1.2em;
  margin:0;
  height: 0;

}

.FotoEncabezado {
  max-width: 100%;
  height: auto;
  margin: 0;

}


/*******
 Navegador principal
 *******/

navheader a, navheader a:visited {
  color: #B45F04  ;
  text-decoration: none;

}
navheader a.selected{
  background-color: orange;

}
navheader a:hover {
color: #424242;
}

navheader {
  text-align: right;
  font-family: 'Oswald';
  padding: 10px 0 ;
  margin: 20px 0 0;


}

navheader ul {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0 15px 0 0;
}

navheader li {
  display: inline-block;
  padding: 0 10px 0 10px;



}
